:root {
  --Primary-Background: #1a1a1a;
  --secondary-Background: #222222;
  --link: #6f42c1;
  --link-hover-focus: #00a1ff;
  --white-border: 1px solid #ffffff;
  --black-border: 1px solid #000000;
  --glass-bg: linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0.1));
  --glass-border: 1px solid rgba(255,255,255,0.18);
  --glass-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  --btn-hover: rgba(0,10,45);
  --para:  #777777;
  --para-tint: #e4e4e4;
  --heading: #ff6b00;
  --white: #ffffff;
}

html{
  scrollbar-color: var(--heading);
}
::-webkit-scrollbar{
  width: 9px;
  color: var(--heading);
}
::-webkit-scrollbar-thumb{
  background: var(--heading);
  border-radius: 10px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans' , sans-serif;
  outline: none;
  border: 0;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
  list-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


::selection {
  background: transparent;
  text-shadow: #fff 0 0 2px;
}
::placeholder {
  color: var(--para);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--heading);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--heading);
}
img{
  cursor: pointer;
}
button{
  padding: .5rem 1rem;
  border-radius: 25px;
  border: var(--white-border);
  background: transparent;
  cursor: pointer;
}
button:is(:hover, :focus){
  background: var(--heading);
  color: var(--btn-hover);
  border: 1px solid var(--heading);
}