.card{
    border: var(--white-border);
    padding: 1rem;
    max-width: 24rem;
    min-height: 24rem;
    max-height: 24rem;
    margin-top: 2rem;
}
.card:is(:hover, :focus){
    transform: translateY(-1.5rem);
}
.flex{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    gap: 1rem;
}
.selectBox{
    width: 10rem;
    height: 43px;
}
.image{
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.video{
    border: var(--white-border);
    width: 95%;
}
.descripitionBox{
    width: 95%;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}
.flexTwo{
    display: flex;
}
.flexTwo h3{
    transform: translateY(2.5rem);
    font-size: 1.8rem;
}

@media screen and (max-width: 990px){
    .flex{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
@media screen and (max-width: 838px){
    .flex{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 505px){
    .main{
        margin-left: 7rem;
    }
}
@media screen and (max-width: 417px){
    .main{
        margin-left: 4rem;
        margin-right: .5rem;
    }
}