.card{
    background: var(--Primary-Background);
    padding: 1rem;
    max-width: 24rem;
    min-height: 27rem;
    max-height: 27rem;
    margin-top: 2rem;
    border-radius: 25px;
    box-shadow: var(--glass-shadow);
    animation: updown 2.5s linear infinite;

}

.flex{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.ServicesIcon{
    width: 8rem;
    height: 8rem;
    background:	var(--secondary-Background);
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    padding: 1.4rem 1.8rem;
    position: relative;
    display: inline-block;
    color: var(--heading);
    animation: waterWave 3s linear infinite;
}
.para{
    font-size: 18px;
    padding: 1rem;
    line-height: 1.8rem;
}

@keyframes updown{
    0%{
        transform: translateY(0px);
    }
    25%
    {
        transform: translateY(5px);
    }
    50%{
        transform: translateY(0px);
    }
    75%
    {
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}


@keyframes waterWave {
    0%{
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
    50%
    {
        border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    }
    100%{
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
}

@media screen and (max-width: 990px){
    .flex{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
@media screen and (max-width: 770px){
    .flex{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}