.card{
    background: var(--Primary-Background);
    padding: 1rem;
    max-width: 24rem;
    min-height: 27rem;
    max-height: 31rem;
    margin-top: 2rem !important;
    border-radius: 25px;
    box-shadow: none;
}


.flex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    background: var(--secondary-Background) !important;
    margin: 0 auto;
    justify-content: space-evenly !important;
}
.selectBox{
    width: 10rem;
    height: 43px;
}
.image{
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.video{
    border: var(--white-border);
    width: 95%;
}
.descripitionBox{
    width: 95%;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}

@keyframes updown{
    0%{
        transform: translateY(0px);
    }
    25%
    {
        transform: translateY(5px);
    }
    50%{
        transform: translateY(0px);
    }
    75%
    {
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}
@media screen and (max-width: 990px){
    .flex{
        grid-template-columns: repeat(auto-fit);
        gap: 2rem;
    }
    .card{
        max-width: 15rem;
        box-shadow: none;
    }
    .image{
        height: 200px;
        width: 200px;
    }
}
@media screen and (max-width: 838px){
    .flex{
        grid-template-columns:  repeat(1,1fr);
    }
}
@media screen and (max-width: 505px){
    .main{
        margin-left: 7rem;
    }
    .card{
        max-width: 15rem;
        max-height: 10rem;
        min-height: 23rem;
    }
    .flex{
        grid-template-columns:  repeat(auto-fit);
    }
    .image{
        background-position: center;
        background-size: cover;
    }

}
@media screen and (max-width: 417px){
    .main{
        margin-left: 4rem;
        margin-right: .5rem;
    }
}